/* index.html */

header {
    font-family: 'Lilita One', 'VT323', 'Arial Narrow', Arial, sans-serif;
    color: #9193ff;
    font-size: 144px;
}
.marquee {
    position: relative;
    width: 100vw; /* full viewport width */
    height: 200px;
    overflow-x: hidden;
    margin-top: 12vh;
  }
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    width: 200vw;
    animation: marquee 8s linear infinite;
  } 
@keyframes marquee {
  0% { transform: translateX(50%); } /* Start off-screen to the right */
  100% { transform: translateX(-100%); } /* End off-screen to the left */
}
h2 {
    font-size: small;
}
.nav {
  font-family: 'Lilita One', 'VT323', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  font-size: 50px;
  margin: 8px;
}
a {
  color:aliceblue;
  text-decoration: none;
}
a:hover {
  color:#9193ff;
  font-style: italic;
  text-decoration: blue wavy underline;
}
body {
	background: linear-gradient(-45deg, aliceblue, #ffeec6, #96ddea, #91ffd6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  text-align: center;
  margin: 0px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -64.5px;
  margin-top: -85.5px;
}
.ghost {
  animation: float 3s ease-out infinite;
}
@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}
.shadowFrame {
  width: 130px;
  margin-top: 15px;
}
.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
  ellipse {
    transform-origin: center center;
  }
}
@keyframes shrink {
  0% {
    width: 60%;
    margin: 0 18%;
  }
  50% {
    width: 90%;
    margin: 0 5%;
  }
  100% {
    width: 60%;
    margin: 0 18%;
  }
}
#cursorCircle {
  width: 20px;
  height: 20px;
  fill: black;
  background-color:#9193ff;
  opacity: 50%;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, border-color 0.3s ease;
  z-index: 9999;
  display: none;
}
