header {
    font-family: 'Lilita One';
    font-size: 40px;
    color: aliceblue;
    text-decoration: blue wavy underline;
    text-align: center;
}
h1 {
    font-family: 'Lilita One', 'VT323', 'Arial Narrow', Arial, sans-serif;
    color: #9193ff;
    font-size: 100px;
    margin-bottom: -2vh;
}
h1:hover{
    text-decoration:underline;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
a {
  color:aliceblue;
  text-decoration: none;
}
a:hover {
  color:#9193ff;
  font-style: italic;
  text-decoration: blue wavy underline;
}
body {
    background: linear-gradient(-45deg, aliceblue, #ffeec6, #96ddea, #91ffd6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-family: 'Karla';
    font-size: larger;
    margin-left: 20%;
    margin-right: 20%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.back {
    font-family: 'Lilita One', 'VT323', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 50px;
    margin-top: -6vh;
    margin-left: -32%;
  }